<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qms.mapper.OperationLogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log (operator_id, operator_type, operation, content, ip_address, created_at)
        VALUES (#{operatorId}, #{operatorType}, #{operation}, #{content}, #{ipAddress}, NOW())
    </insert>
    <select id="findByOperator" resultType="com.example.qms.entity.OperationLog">
        SELECT * FROM operation_log
        WHERE operator_id = #{operatorId} AND operator_type = #{operatorType}
        ORDER BY created_at DESC
    </select>
</mapper>